<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="~{fragments/header.html :: fragment-header}"></div>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<div class="main-container">
    <div th:replace="~{fragments/nav.html :: fragment-nav}"></div>

    <div class="content-container">
        <div layout:fragment="content"></div>
    </div>

    <div th:replace="~{fragments/footer.html :: fragment-footer}"></div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
