<!DOCTYPE html>
<html>
<head>
    <div th:replace="~{fragments/header.html :: fragment-header}"></div>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<div th:replace="~{fragments/nav.html :: fragment-nav}"></div>

<div class="container" style="max-width: 720px;">
    <h2 class="pb-2 border-bottom">Symbol</h2>
    <div class="add-btn mt-4 mb-2">
        <button type="button" class="btn btn-primary" onclick="showAddModal()">추가
        </button>
    </div>

    <table class="table table-bordered">
        <thead class="table-primary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">이미지</th>
            <th scope="col">이름</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="table-list">
        <tr th:each="cryptoSymbol : ${symbols}">
            <td th:text="${cryptoSymbol.id()}"></td>
            <td>
                <img style="max-width: 50px;" th:src="${cryptoSymbol.imgUrl()}">
            </td>
            <td th:text="${cryptoSymbol.name()}"></td>
            <td>
                <button class="btn btn-primary" th:onclick="showEditModal([[${cryptoSymbol}]])">수정</button>

                <button class="btn btn-primary" th:onclick="deleteProduct([[${cryptoSymbol.id}]])">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal" data-form-type="add" id="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close" onclick="hideAddModal()"></button>
                </div>
                <form id="form">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="imgUrl" class="form-label">이미지 URL</label>
                            <input class="form-control" id="imgUrl" required type="text" name="imgUrl">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input class="form-control" id="name" required type="text" name="name">
                        </div>
                    </div>
                        <div class="modal-footer">
                        <button id="modal-submit-btn" type="submit" class="btn btn-primary">추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/toast.html :: fragment-toast}"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/symbol.js}"></script>
</body>
</html>
